# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [ ]:
def add_two(x):
    return x + 2

print(add_two)

<function add_two at 0x0000021BECFDBEC0>

In [ ]:
# lambda param: one-line function

lambda x: x + 2

In [123]:
print(lambda x: x+2)

<function <lambda> at 0x0000021BED0A7100>

In [124]:
# IIFE - Immediately Invoked Function Expression
# Execute a lambda function immediately after defining the function
# Syntax: (lambda param: expression)(arg)

(lambda x: x + 2)(15)

17

#### Saving to a Variable

In [125]:
named_lambda = lambda z: z ** 2

print(named_lambda)

<function <lambda> at 0x0000021BE95A04A0>

In [126]:
named_lambda(10)

100

#### Multiple Inputs

In [127]:
# Syntax: lambda param1, param2, etc: expression

def multiply(x, y, z):
    return x * y * z

multiply(10,3,2)

60

In [128]:
# As an IIFE - (lambda param1, param2, etc: expression)(arg1, arg2, etc.)

(lambda x,y,z: x * y * z)(10,3,2)

60

In [129]:
(lambda **kwargs: kwargs)(test=123, name='Brian')

{'test': 123, 'name': 'Brian'}

In [130]:
(lambda *args: args)('a', 'b', 'c')

('a', 'b', 'c')

#### Passing a Function into a Function

In [131]:
def apply_to_each(f, a_list):
    """
    Print the return value of function f applied to every element in the list
    f -> Function to execute
    a_list -> List of elements to execute function f on
    """
    for element in a_list:
        f_return = f(element)
        print(f_return)

In [132]:
def get_first_letter(string):
    return string[0]

In [133]:
list_of_seasons = ['Winter', 'Spring', 'Summer', 'Fall']

In [134]:
apply_to_each(get_first_letter, list_of_seasons)

W
S
S
F

In [135]:
def reverse_string(string):
    return string[::-1]


apply_to_each(reverse_string, list_of_seasons)

retniW
gnirpS
remmuS
llaF

#### Passing a Lambda into a Function

In [136]:
# Call the apply_to_each function, pass in a lambda function as f argument

apply_to_each(lambda string: string[-1], list_of_seasons)

r
g
r
l

In [137]:
(lambda f, a_list: [f(element) for element in a_list])(lambda string: string[-1], list_of_seasons)

['r', 'g', 'r', 'l']

In [138]:
apply_to_each(lambda x: x**2, [1, 2, 3, 4, 5])

1
4
9
16
25

In [139]:
def square_num(x):
    return x**2

apply_to_each(square_num, [1,2,3,4,5])

1
4
9
16
25

#### Returning a Function from a Function

In [140]:
def my_outer_function(name):
    print(f"Hello {name}")
    
    # Define a locally scoped function
    def my_inner_function():
        print('This is the inner function')
    
    my_inner_function()
    
    
print(my_outer_function)
my_outer_function

<function my_outer_function at 0x0000021BED0A7F60>

In [141]:
my_outer_function('Brian')

Hello Brian
This is the inner function

In [142]:
def my_outer_function(name):
    print(f"Hello {name}")
    
    # Define a locally scoped function
    def my_inner_function():
        print('This is the inner function')
    
    return my_inner_function
    
    
print(my_outer_function)
my_outer_function

<function my_outer_function at 0x0000021BEC3F6C00>

In [143]:
my_outer_function_return = my_outer_function('Brian')
print(my_outer_function_return)

Hello Brian
<function my_outer_function.<locals>.my_inner_function at 0x0000021BEC3F7240>

In [144]:
my_outer_function_return()

This is the inner function

In [145]:
def create_multiplier(num):
    def multiply(x):
        return x * num
    return multiply


five_times = create_multiplier(5)
print(five_times)

<function create_multiplier.<locals>.multiply at 0x0000021BEC3F4720>

In [146]:
five_times(10)

50

#### Returning a Lambda from a Function

In [147]:
def new_multiplier(num):
    return lambda x: x * num


four = new_multiplier(4)
print(four)

<function new_multiplier.<locals>.<lambda> at 0x0000021BED0A7BA0>

In [148]:
four(10)

40

#### If Statements within Lambdas

In [149]:
def double_pos_square_negs(number):
    if number >= 0:
        return number * 2
    else:
        return number ** 2
    
    
print(double_pos_square_negs(10))
print(double_pos_square_negs(20))
print(double_pos_square_negs(-10))
print(double_pos_square_negs(-20))

20
40
100
400

In [150]:
# Ternary: value_if_true if condition else value_if_false

def double_pos_square_negs(number):
    #     if number >= 0:
    #         return number * 2
    #     else:
    #         return number ** 2
    return number * 2 if number >= 0 else number **2

    
    
print(double_pos_square_negs(10))
print(double_pos_square_negs(20))
print(double_pos_square_negs(-10))
print(double_pos_square_negs(-20))

20
40
100
400

In [151]:
(lambda num: num * 2 if num >= 0 else num ** 2)(10)

20

In [152]:
(lambda num: num * 2 if num >= 0 else num ** 2)(-10)

100

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

In [153]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [154]:
# Function that we want to apply to each element in an iterable
def squared_minus_two(num):
    return num ** 2 - 2

numbers = [3, 5, 7, 2, 4, 3, 7, 6]

# Create an empty list
new_nums = []
# Loop over the numbers list
for n in numbers:
    # Apply the function to that element
    new_num = squared_minus_two(n)
    new_nums.append(new_num)
    
print(new_nums)

[7, 23, 47, 2, 14, 7, 47, 34]

In [155]:
# map(function, *iterables -> List, Tuple, String, Set, Dictionary, etc)

list(map(squared_minus_two, numbers))

[7, 23, 47, 2, 14, 7, 47, 34]

In [156]:
my_map_obj = map(squared_minus_two, numbers)
print(my_map_obj)

<map object at 0x0000021BEC4F0A00>

In [157]:
next(my_map_obj)

7

In [158]:
x_values = [1, 2, 3, 4, 5, 6, 7]
y_values = [10, 20, 30, 40, 50, 60, 70]

def multiply(x, y):
    print(f"x={x}, y={y}")
    return x * y


list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=20
x=3, y=30
x=4, y=40
x=5, y=50
x=6, y=60
x=7, y=70

[10, 40, 90, 160, 250, 360, 490]

In [159]:
x_values = [1, 2, 3, 4, 5, 6, 7]
y_values = [10, 20, 30, 40, 50, 60, 70, 80, 90]

def multiply(x, y):
    print(f"x={x}, y={y}")
    return x * y


list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=20
x=3, y=30
x=4, y=40
x=5, y=50
x=6, y=60
x=7, y=70

[10, 40, 90, 160, 250, 360, 490]

In [160]:
nums_mult = []
shortest_length = len(x_values) if len(x_values) < len(y_values) else len(y_values)
for i in range(shortest_length):
    nums_mult.append(x_values[i] * y_values[i])
    
print(nums_mult)

[10, 40, 90, 160, 250, 360, 490]

#### Using Lambda's with Map

In [161]:
nums_again = [3, 7, 4, 9, 3, 2, 6, 4, 3, 8]

list(map(lambda t: t**2 - 2, nums_again))

[7, 47, 14, 79, 7, 2, 34, 14, 7, 62]

In [162]:
x_vals = [1, 2, 3, 4, 5]
y_vals = [10, 20, 30, 40, 50]

list(map(lambda a,b: a*b, x_vals, y_vals))

[10, 40, 90, 160, 250]

In [163]:
random_letters = 'abcdefghijklmnopqrstuvwxyz'

unicode = list(map(lambda letter: ord(letter), random_letters))

print(unicode)

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

In [164]:
vowels = ('a', 'e', 'i', 'o', 'u')

tuple(map(lambda letter: letter.upper(), vowels))

('A', 'E', 'I', 'O', 'U')

#### In-Class Exercise #1 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [165]:
numbers = range(1,11)

# [0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

In [166]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [167]:
names = ['Bob', 'Billy', 'Alex', 'Barbara', 'Amy', 'Andy', 'Catherine', 'Cameron']

def starts_with_a(name):
    return name[0].upper() == 'A'

a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, False, True, False, True, True, False, False]

In [168]:
# Syntax: filter(function_to_apply, iterable -> List,Tuple,Set,Dict,String,etc)

a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['Alex', 'Amy', 'Andy']

In [169]:
def remainder(num):
    # Takes in a number and returns the remainder after dividing by 3
    return num % 3

my_nums = [x for x in range(1,11)]
print(my_nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [170]:
list(map(remainder, my_nums))

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [171]:
list(filter(remainder, my_nums))

[1, 2, 4, 5, 7, 8, 10]

In [172]:
for i in range(-10, 11):
    print(i, bool(i))

-10 True
-9 True
-8 True
-7 True
-6 True
-5 True
-4 True
-3 True
-2 True
-1 True
0 False
1 True
2 True
3 True
4 True
5 True
6 True
7 True
8 True
9 True
10 True

#### Using Lambda's with Filter()

In [173]:
list(filter(lambda name: True if name[0].upper() == 'B' else False, names))

['Bob', 'Billy', 'Barbara']

In [174]:
list(filter(lambda name: name[0].upper() == 'C', names))

['Catherine', 'Cameron']

#### In-Class Exercise #2 <br>
<p>Using the filter function, create a list out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [175]:
from random import randint

# Create a list of 20 random numbers
random_nums = [randint(1,100) for _ in range(20)]
print(random_nums)

[37, 99, 100, 94, 4, 65, 6, 52, 91, 82, 11, 95, 52, 93, 26, 38, 99, 67, 80, 25]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [176]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [177]:
def add_nums(x, y):
    print('='*20)
    print(f"x: {x}")
    print(f"y: {y}")
    print(f"returns {x + y}")
    return x + y

result_add = reduce(add_nums, [1, 2, 3, 4, 5])
print(result_add)

====================
x: 1
y: 2
returns 3
====================
x: 3
y: 3
returns 6
====================
x: 6
y: 4
returns 10
====================
x: 10
y: 5
returns 15
15

In [178]:
total = 0
for num in [1, 2, 3, 4, 5]:
    total += num
print(total)

15

#### Using Lambda's with Reduce()

In [179]:
lambda_reduce = reduce(lambda a,b: a+b, [10, 20, 30, 40, 50])
lambda_reduce

150

#### In-Class Exercise #3 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [180]:
reduce(lambda x,y: x*y, [1, 2, 3, 4, 5])

120

In [181]:
prod_total = 1
for num in [1, 2, 3, 4, 5]:
    prod_total *= num
    
print(prod_total)

120

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [182]:
import time


def capitalize(name):
    # Takes in a name, upper case the first letter and lower case the rest
    return name[0].upper() + name[1:].lower()

def full_name(first, last):
    # take in a first name, capitalize the first name, take in a last name, capitalize the last name and 
    # then returns the concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)


def greet_person(first_name, last_name, day_of_week):
    person_full_name = full_name(first_name, last_name)
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}")
    
greet_person('bRIaN', 'stANtOn', 'mONdaY')

Hello Brian Stanton, it sure is beautiful on this Monday

In [183]:
def func_one():
    print("Function One Started")
    time.sleep(5)
    print("Function One Ended")
    
    
def func_two():
    print("Function Two Started")
    func_one()
    print("Function Two Ended")
    
    
func_two()

Function Two Started
Function One Started
Function One Ended
Function Two Ended

#### Implementing a Base Case

In [184]:
def add_nums(num):
    if num <= 1:
        return num
    else:
        return num + add_nums(num - 1)
    
    
add_nums(5)

15

In [185]:
def add_nums(num):
    # Set up a base case
    if num <= 1:
        print(f"add_nums({num}) = {num}")
        return num
    else:
        print(f"add_nums({num}) = {num} + add_nums({num - 1})")
        return num + add_nums(num - 1)
    
    
add_nums(5)

add_nums(5) = 5 + add_nums(4)
add_nums(4) = 4 + add_nums(3)
add_nums(3) = 3 + add_nums(2)
add_nums(2) = 2 + add_nums(1)
add_nums(1) = 1

15

In [186]:
def add_all_nums(num):
    total = 0
    for i in range(1, num + 1):
        total += i
    return total

add_all_nums(5)

15

In [187]:
def print_recursion(a_list):
    if a_list:
        print(a_list[0])
        print_recursion(a_list[1:])
    
    
print_recursion([10, 20, 30, 40, 50])

10
20
30
40
50

#### Writing a Factorial Function

In [188]:
# 5! = 5 * 4!
# 4! = 4 * 3!
# ...
# 1! = 1


def factorial(num):
    if num <= 1:
#         print(f"factorial({num}) = 1")
        return 1
    else:
#         print(f"factorial({num}) = {num} * factorial({num - 1})")
        return num * factorial(num - 1)
    

factorial(10)

3628800

In [189]:
def hide_the_cache():
    cache = {}

    def recursive_example(number):
        if number in cache:
            return cache[number]
        elif number <= 2:
            return number
        else:
            answer = recursive_example(number - 1) * recursive_example(number - 2)
            cache[number] = answer
            return answer
        
    return recursive_example
    
    
recursive_func = hide_the_cache()
recursive_func(20)

40402837902681636728944075743787553100525682155095512378964422777603868950506930861717917533437872733331163749402810157624782768673230891816987490551905340881752888279603138518191111716881949552549160131745806179838486331517519612530107010848184454155262043297698584472305666060239590278515423698446924016905488325598335772066735159070456995849814032539752600585895017014694423010433798673845056085403359098141371140530762026453348555431569874185293170827107542371439509950807139893959502478320552721426098325935006502799521922431966858110235185919897653196283854130097539000187383953329893127488468166034132053126308333843119595198474911165503447582107723454039267515776603862577982956367126331850118914853499390731234219608390475451974464619926988739186860683869584653781823013819650399948927444371407437739219154992146162915693944963833448800961802144573580229512448388807563262959394843574661854584774014430930715367417310888445656406425723770290478242768598061317757682800414261940752076138979657876855026741322587621346514807927557056133231749398586888997959871228501125096342137491759086629512391627552203028072018719550218091994823342671610508985819108374449772813820742317545710474022452448409285635606019542075914141598026149308453676552831318884352

In [190]:
cache

NameError: name 'cache' is not defined

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [ ]:
lengths = map(len, ['Brian', 'Stanton', 'Coding Temple'])

print(lengths)

<map object at 0x0000024C79948FA0>

In [ ]:
for item in lengths:
    print(item)

5
7
13

In [ ]:
for item in lengths:
    print(item)

In [ ]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [ ]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [ ]:
a_new_list = ['hi', 'hello', 'how are you', 'goodbye']

list_iter = iter(a_new_list)
print(list_iter)

<list_iterator object at 0x0000024C79966200>

In [ ]:
next(list_iter)

'hi'

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [ ]:
def my_range_iter(start, stop, step=1):
    while start < stop:
        return start
        start += step
        
my_range_iter(0, 10)

0

In [ ]:
def my_range_iter(start, stop, step=1):
    while start < stop:
        yield start
        start += step
        
my_range_iter(0, 10)

In [ ]:
my_gen = my_range_iter(0,10)
print(my_gen)

<generator object my_range_iter at 0x0000024C7A224890>

In [ ]:
next(my_gen)

0

In [ ]:
for s in my_range_iter(10, 50, 5):
    print(s)

10
15
20
25
30
35
40
45

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [ ]:

places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York", "DC"]

filtered_places = list(filter(lambda x: x.strip() != '', places))
print(filtered_places)

['Argentina', 'San Diego', 'Boston', 'New York', 'DC']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [ ]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

def get_last_name(name):
    return name.split()[-1].lower()

author.sort(key=get_last_name)

print(author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [ ]:
# F = (9/5)*C + 32
temperatures = [('Nashua', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]

to_fahrenheit = lambda temp: (temp[0], (temp[1] * 9/5) + 32)
converted_temperatures = list(map(to_fahrenheit, temperatures))
print(converted_temperatures)

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>
<code>fib(1) = 0
fib(2) = 1
fib(3) = 1
fib(4) = 2
fib(5) = 3
fib(6) = 5
fib(7) = 8
fib(8) = 13
fib(9) = 21
fib(10) = 34
fib(11) = 55
fib(12) = 89
fib(13) = 144
</code>

In [195]:
def fib(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)
    
for i in range(12):
    result = fib(i)
    print(f"fib({i}) = {result}")

fib(0) = 0
fib(1) = 0
fib(2) = 1
fib(3) = 1
fib(4) = 2
fib(5) = 3
fib(6) = 5
fib(7) = 8
fib(8) = 13
fib(9) = 21
fib(10) = 34
fib(11) = 55

### Exercise #5<br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [196]:
def my_gen(number):
    pass

for num in my_gen(10):
    print(num)
    
# 100
# 81
# 64
# 49
# 36
# 25
# 16
# 9
# 4
# 2
# 1
# 0

TypeError: 'NoneType' object is not iterable